In [2]:

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                         password='pratiJAN123$')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)



#database creation

def create_database(connection,query):  
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("database created successfully")
    except Error as err:
        print(f"eroor is :{err}")

"""query="create database pythontest"
create_database(connection,query)"""

#database connection
import mysql.connector
from mysql.connector import Error
def create_db_connection(host_name,db_name,pwd,username):
    connection= None
    try:
        connection=mysql.connector.Connect(
        host=host_name,
        database=db_name,
        password=pwd,
        user=username)
        print("you are connected successfully")
    except Error as err:
     print(f"error is :{err}")
    return connection


cnx=create_db_connection("localhost","accenture","pratiJAN123$","root")



#executing the queries
def execute_query(connection,query):  
    cursor=connection.cursor()
   
    try:
        cursor.execute(query)
        connection.commit()
        print("query is executed  successfully")
    except Error as err:
        print(f"eroor is :{err}")


#reading the queries
def read_query(connection,query):  
    cursor=connection.cursor()
    
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as err:
        print(f"eroor is :{err}")



import pandas as pd
q5="""
select * from reactions;
"""

results=read_query(cnx,q5)
column=["Content ID", "User ID", "Type", "Datetime"]
listoftable=[]
for i in results:
    j=list(i)
    listoftable.append(j)


df=pd.DataFrame(listoftable,columns=column)

Connected to MySQL Server version  8.0.28
You're connected to database:  (None,)
you are connected successfully

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     25553 non-null  object
 2   Type        25553 non-null  object
 3   Datetime    25553 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 798.7+ KB

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,,,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01