Defining connection arguments in a dictionary and using the ** operator is another option:

In [1]:
import mysql.connector

config = {
  'user': 'root',
  'password': 'pratiJAN123$',
  'host': 'localhost',
  'database': 'employees',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)
print("you are succesfullyconnected")

cnx.close()
print("you are sucessfully closed")

you are succesfullyconnected
you are sucessfully closed

Mysql connection with existing database

In [2]:
import mysql.connector
from mysql.connector import Error
#use database= whatever database you want to connect

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mysql_python',
                                         user='root',
                                         password='pratiJAN123$')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.28
You're connected to database:  ('mysql_python',)

Mysql connection with existing database  and close the same

In [3]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mysql_python',
                                         user='root',
                                         password='pratiJAN123$')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.28
You're connected to database:  ('mysql_python',)
MySQL connection is closed

Mysql new database creation

In [4]:

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                         password='pratiJAN123$')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)





def create_database(connection,query):  
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("database created successfully")
    except Error as err:
        print(f"eroor is :{err}")

query="create database pythontest"


create_database(connection,query)

Connected to MySQL Server version  8.0.28
You're connected to database:  (None,)
eroor is :1007 (HY000): Can't create database 'pythontest'; database exists

database connection and execute queries

In [5]:

import mysql.connector
from mysql.connector import Error
def create_db_connection(host_name,db_name,pwd,username):
    connection= None
    try:
        connection=mysql.connector.Connect(
        host=host_name,
        database=db_name,
        password=pwd,
        user=username)
        print("you are connected successfully")
    except Error as err:
     print(f"error is :{err}")
    return connection


def execute_query(connection,query):  
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("query is executed  successfully")
    except Error as err:
        print(f"eroor is :{err}")

In [6]:
create_order_table="""
CREATE TABLE employees (
    emp_no      INT             NOT NULL,
    birth_date  DATE            NOT NULL,
    first_name  VARCHAR(14)     NOT NULL,
    last_name   VARCHAR(16)     NOT NULL,
    gender      ENUM ('M','F')  NOT NULL,    
    hire_date   DATE            NOT NULL,
    PRIMARY KEY (emp_no)
);
"""


insert_into= """INSERT INTO `employees` VALUES 
(10003,'1959-12-03','Parto','Bamford','M','1986-08-28'),
(10004,'1954-05-01','Chirstian','Koblick','M','1986-12-01'),
(10005,'1955-01-21','Kyoichi','Maliniak','M','1989-09-12'),
(10006,'1953-04-20','Anneke','Preusig','F','1989-06-02'),
(10007,'1957-05-23','Tzvetan','Zielinski','F','1989-02-10'),
(10008,'1958-02-19','Saniya','Kalloufi','M','1994-09-15'),
(10009,'1952-04-19','Sumant','Peac','F','1985-02-18'),
(10010,'1963-06-01','Duangkaew','Piveteau','F','1989-08-24'),
(10011,'1953-11-07','Mary','Sluis','F','1990-01-22'),
(10012,'1960-10-04','Patricio','Bridgland','M','1992-12-18'),
(10013,'1963-06-07','Eberhardt','Terkki','M','1985-10-20'),
(10014,'1956-02-12','Berni','Genin','M','1987-03-11'),
(10015,'1959-08-19','Guoxiang','Nooteboom','M','1987-07-02'),
(10016,'1961-05-02','Kazuhito','Cappelletti','M','1995-01-27'),
(10017,'1958-07-06','Cristinel','Bouloucos','F','1993-08-03'),
(10018,'1954-06-19','Kazuhide','Peha','F','1987-04-03'),
(10019,'1953-01-23','Lillian','Haddadi','M','1999-04-30'),
(10020,'1952-12-24','Mayuko','Warwick','M','1991-01-26'),
(10021,'1960-02-20','Ramzi','Erde','M','1988-02-10'),
(10022,'1952-07-08','Shahaf','Famili','M','1995-08-22'),
(10023,'1953-09-29','Bojan','Montemayor','F','1989-12-17'),
(10024,'1958-09-05','Suzette','Pettey','F','1997-05-19'),
(10025,'1958-10-31','Prasadram','Heyers','M','1987-08-17'),
(10026,'1953-04-03','Yongqiao','Berztiss','M','1995-03-20'),
(10027,'1962-07-10','Divier','Reistad','F','1989-07-07'),
(10028,'1963-11-26','Domenick','Tempesti','M','1991-10-22'),
(10029,'1956-12-13','Otmar','Herbst','M','1985-11-20'),
(10030,'1958-07-14','Elvis','Demeyer','M','1994-02-17'),
(10031,'1959-01-27','Karsten','Joslin','M','1991-09-01'),
(10032,'1960-08-09','Jeong','Reistad','F','1990-06-20'),
(10033,'1956-11-14','Arif','Merlo','M','1987-03-18'),
(10034,'1962-12-29','Bader','Swan','M','1988-09-21'),
(10035,'1953-02-08','Alain','Chappelet','M','1988-09-05'),
(10036,'1959-08-10','Adamantios','Portugali','M','1992-01-03'),
(10037,'1963-07-22','Pradeep','Makrucki','M','1990-12-05'),
(10038,'1960-07-20','Huan','Lortz','M','1989-09-20'),
(10039,'1959-10-01','Alejandro','Brender','M','1988-01-19'),
(10040,'1959-09-13','Weiyi','Meriste','F','1993-02-14'),
(10041,'1959-08-27','Uri','Lenart','F','1989-11-12'),
(10042,'1956-02-26','Magy','Stamatiou','F','1993-03-21'),
(10043,'1960-09-19','Yishay','Tzvieli','M','1990-10-20'),
(10044,'1961-09-21','Mingsen','Casley','F','1994-05-21'),
(10045,'1957-08-14','Moss','Shanbhogue','M','1989-09-02'),
(10046,'1960-07-23','Lucien','Rosenbaum','M','1992-06-20'),
(10047,'1952-06-29','Zvonko','Nyanchama','M','1989-03-31'),
(10048,'1963-07-11','Florian','Syrotiuk','M','1985-02-24'),
(10049,'1961-04-24','Basil','Tramer','F','1992-05-04'),
(10050,'1958-05-21','Yinghua','Dredge','M','1990-12-25');"""



cnx=create_db_connection("localhost","pythontest","pratiJAN123$","root")
#execute_query(cnx,create_)
execute_query(cnx,insert_into)

you are connected successfully
eroor is :1062 (23000): Duplicate entry '10003' for key 'employees.PRIMARY'

reading query

In [29]:
def read_query(connection,query):  
    cursor=connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as err:
        print(f"eroor is :{err}")

q1="""
select * from employees;
"""

results=read_query(cnx,q1)


for i in results:
    print(i)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))
(10011, datetime.date(1953, 11, 7), 'Mary', 'Sluis', 'F', datetime.date(1990, 1, 22))
(10012, datetime.date(1960, 10, 4), 'Patricio', 'Bridgland', 'M', datetime.date(1992, 12, 18))
(10013, datetime.date(1963, 6, 7), 'Eberhardt', 'Terkki', 'M', datetime.date(1985, 10, 20))
(10014, datetime.date(1956, 2, 12), 'Berni', 'Genin', 'M', datetime.date(1987, 3, 11))
(10015, datetime.date(1959, 8, 19), 'Guoxiang', 'Nooteboom', 'M', datetime.date(1987, 7, 2))
(10016, datetime.date(1961, 5, 2), 'Kazuhito', 'Cappelletti', 'M', datetime.date(1995, 1, 27))
(10017, datetime.date(1958, 7, 6), 'Cristinel', 'Bouloucos', 'F', datetime.date(1993, 8, 3))
(10018, datetime.date(1954, 6, 19), 'Kazuhide', 'Peha', 'F', datetime.date(1987, 4, 3))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30))
(10020, datetime.date(1952, 12, 24), 'Mayuko', 'Warwick', 'M', datetime.date(1991, 1, 26))
(10021, datetime.date(1960, 2, 20), 'Ramzi', 'Erde', 'M', datetime.date(1988, 2, 10))
(10022, datetime.date(1952, 7, 8), 'Shahaf', 'Famili', 'M', datetime.date(1995, 8, 22))
(10023, datetime.date(1953, 9, 29), 'Bojan', 'Montemayor', 'F', datetime.date(1989, 12, 17))
(10024, datetime.date(1958, 9, 5), 'Suzette', 'Pettey', 'F', datetime.date(1997, 5, 19))
(10025, datetime.date(1958, 10, 31), 'Prasadram', 'Heyers', 'M', datetime.date(1987, 8, 17))
(10026, datetime.date(1953, 4, 3), 'Yongqiao', 'Berztiss', 'M', datetime.date(1995, 3, 20))
(10027, datetime.date(1962, 7, 10), 'Divier', 'Reistad', 'F', datetime.date(1989, 7, 7))
(10028, datetime.date(1963, 11, 26), 'Domenick', 'Tempesti', 'M', datetime.date(1991, 10, 22))
(10029, datetime.date(1956, 12, 13), 'Otmar', 'Herbst', 'M', datetime.date(1985, 11, 20))
(10030, datetime.date(1958, 7, 14), 'Elvis', 'Demeyer', 'M', datetime.date(1994, 2, 17))
(10031, datetime.date(1959, 1, 27), 'Karsten', 'Joslin', 'M', datetime.date(1991, 9, 1))
(10032, datetime.date(1960, 8, 9), 'Jeong', 'Reistad', 'F', datetime.date(1990, 6, 20))
(10033, datetime.date(1956, 11, 14), 'Arif', 'Merlo', 'M', datetime.date(1987, 3, 18))
(10034, datetime.date(1962, 12, 29), 'Bader', 'Swan', 'M', datetime.date(1988, 9, 21))
(10035, datetime.date(1953, 2, 8), 'Alain', 'Chappelet', 'M', datetime.date(1988, 9, 5))
(10036, datetime.date(1959, 8, 10), 'Adamantios', 'Portugali', 'M', datetime.date(1992, 1, 3))
(10037, datetime.date(1963, 7, 22), 'Pradeep', 'Makrucki', 'M', datetime.date(1990, 12, 5))
(10038, datetime.date(1960, 7, 20), 'Huan', 'Lortz', 'M', datetime.date(1989, 9, 20))
(10039, datetime.date(1959, 10, 1), 'Alejandro', 'Brender', 'M', datetime.date(1988, 1, 19))
(10040, datetime.date(1959, 9, 13), 'Weiyi', 'Meriste', 'F', datetime.date(1993, 2, 14))
(10041, datetime.date(1959, 8, 27), 'Uri', 'Lenart', 'F', datetime.date(1989, 11, 12))
(10042, datetime.date(1956, 2, 26), 'Magy', 'Stamatiou', 'F', datetime.date(1993, 3, 21))
(10043, datetime.date(1960, 9, 19), 'Yishay', 'Tzvieli', 'M', datetime.date(1990, 10, 20))
(10044, datetime.date(1961, 9, 21), 'Mingsen', 'Casley', 'F', datetime.date(1994, 5, 21))
(10045, datetime.date(1957, 8, 14), 'Moss', 'Shanbhogue', 'M', datetime.date(1989, 9, 2))
(10046, datetime.date(1960, 7, 23), 'Lucien', 'Rosenbaum', 'M', datetime.date(1992, 6, 20))
(10047, datetime.date(1952, 6, 29), 'Zvonko', 'Nyanchama', 'M', datetime.date(1989, 3, 31))
(10048, datetime.date(1963, 7, 11), 'Florian', 'Syrotiuk', 'M', datetime.date(1985, 2, 24))
(10049, datetime.date(1961, 4, 24), 'Basil', 'Tramer', 'F', datetime.date(1992, 5, 4))
(10050, datetime.date(1958, 5, 21), 'Yinghua', 'pratik', 'M', datetime.date(1990, 12, 25))

In [12]:
q2="""
select emp_no,first_name from employees;
"""

results=read_query(cnx,q2)


for i in results:
    print(i)

(10001, 'Georgi')
(10002, 'Bezalel')
(10003, 'Parto')
(10004, 'Chirstian')
(10005, 'Kyoichi')
(10006, 'Anneke')
(10007, 'Tzvetan')
(10008, 'Saniya')
(10009, 'Sumant')
(10010, 'Duangkaew')
(10011, 'Mary')
(10012, 'Patricio')
(10013, 'Eberhardt')
(10014, 'Berni')
(10015, 'Guoxiang')
(10016, 'Kazuhito')
(10017, 'Cristinel')
(10018, 'Kazuhide')
(10019, 'Lillian')
(10020, 'Mayuko')
(10021, 'Ramzi')
(10022, 'Shahaf')
(10023, 'Bojan')
(10024, 'Suzette')
(10025, 'Prasadram')
(10026, 'Yongqiao')
(10027, 'Divier')
(10028, 'Domenick')
(10029, 'Otmar')
(10030, 'Elvis')
(10031, 'Karsten')
(10032, 'Jeong')
(10033, 'Arif')
(10034, 'Bader')
(10035, 'Alain')
(10036, 'Adamantios')
(10037, 'Pradeep')
(10038, 'Huan')
(10039, 'Alejandro')
(10040, 'Weiyi')
(10041, 'Uri')
(10042, 'Magy')
(10043, 'Yishay')
(10044, 'Mingsen')
(10045, 'Moss')
(10046, 'Lucien')
(10047, 'Zvonko')
(10048, 'Florian')
(10049, 'Basil')
(10050, 'Yinghua')

In [13]:
q3="""
select first_name,year(birth_date) from employees;
"""

results=read_query(cnx,q3)


for i in results:
    print(i)

('Georgi', 1953)
('Bezalel', 1964)
('Parto', 1959)
('Chirstian', 1954)
('Kyoichi', 1955)
('Anneke', 1953)
('Tzvetan', 1957)
('Saniya', 1958)
('Sumant', 1952)
('Duangkaew', 1963)
('Mary', 1953)
('Patricio', 1960)
('Eberhardt', 1963)
('Berni', 1956)
('Guoxiang', 1959)
('Kazuhito', 1961)
('Cristinel', 1958)
('Kazuhide', 1954)
('Lillian', 1953)
('Mayuko', 1952)
('Ramzi', 1960)
('Shahaf', 1952)
('Bojan', 1953)
('Suzette', 1958)
('Prasadram', 1958)
('Yongqiao', 1953)
('Divier', 1962)
('Domenick', 1963)
('Otmar', 1956)
('Elvis', 1958)
('Karsten', 1959)
('Jeong', 1960)
('Arif', 1956)
('Bader', 1962)
('Alain', 1953)
('Adamantios', 1959)
('Pradeep', 1963)
('Huan', 1960)
('Alejandro', 1959)
('Weiyi', 1959)
('Uri', 1959)
('Magy', 1956)
('Yishay', 1960)
('Mingsen', 1961)
('Moss', 1957)
('Lucien', 1960)
('Zvonko', 1952)
('Florian', 1963)
('Basil', 1961)
('Yinghua', 1958)

In [17]:
q4="""
select distinct year(birth_date)from employees;
"""

results=read_query(cnx,q4)


for i in results:
    print(i)

(1953,)
(1964,)
(1959,)
(1954,)
(1955,)
(1957,)
(1958,)
(1952,)
(1963,)
(1960,)
(1956,)
(1961,)
(1962,)

In [20]:
q5="""
select * from employees
where year(birth_date)<1955;
"""

results=read_query(cnx,q5)


for i in results:
    print(i)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10011, datetime.date(1953, 11, 7), 'Mary', 'Sluis', 'F', datetime.date(1990, 1, 22))
(10018, datetime.date(1954, 6, 19), 'Kazuhide', 'Peha', 'F', datetime.date(1987, 4, 3))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30))
(10020, datetime.date(1952, 12, 24), 'Mayuko', 'Warwick', 'M', datetime.date(1991, 1, 26))
(10022, datetime.date(1952, 7, 8), 'Shahaf', 'Famili', 'M', datetime.date(1995, 8, 22))
(10023, datetime.date(1953, 9, 29), 'Bojan', 'Montemayor', 'F', datetime.date(1989, 12, 17))
(10026, datetime.date(1953, 4, 3), 'Yongqiao', 'Berztiss', 'M', datetime.date(1995, 3, 20))
(10035, datetime.date(1953, 2, 8), 'Alain', 'Chappelet', 'M', datetime.date(1988, 9, 5))
(10047, datetime.date(1952, 6, 29), 'Zvonko', 'Nyanchama', 'M', datetime.date(1989, 3, 31))

In [27]:
import pandas as pd
q5="""
select * from employees;
"""


column=['emp_no', 'birth_date', 'first_name', 'last_name', 'gender', 'hire_date']
listoftable=[]
for i in results:
    j=list(i)
    listoftable.append(j)


df=pd.DataFrame(listoftable,columns=column)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_no      13 non-null     int64
 1   birth_date  13 non-null     object
 2   first_name  13 non-null     object
 3   last_name   13 non-null     object
 4   gender      13 non-null     object
 5   hire_date   13 non-null     object
dtypes: int64(1), object(5)
memory usage: 752.0+ bytes

In [28]:
update="""
update employees
set last_name="pratik"
where emp_no=10050
"""
results=read_query(cnx,update)

In [30]:
q1="""
select * from employees
where emp_no=10050;
"""

results=read_query(cnx,q1)


for i in results:
    print(i)

(10050, datetime.date(1958, 5, 21), 'Yinghua', 'pratik', 'M', datetime.date(1990, 12, 25))